[tool.black]
line-length = 120
target-version = ["py39", "py310", "py311", "py312", "py313"]
include = '\.pyi?$'

[tool.isort]
profile = "black"
line_length = 120
skip_gitignore = true
known_first_party = ["df", "libdf", "libdfdata"]
